@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --dark-base: #4A2C2A;
  --main-accent: #835C42;
  --soft-contrast: #D6B9A8;
  --light-neutral: #F5F1EB;
  --highlight: #DDA89B;
  --deep-olive: #54503B;
  --airy-accent: #ECE8E3;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
      --background: #54503B;
  --foreground: #000000;
  --dark-base: #4A2C2A;
  --main-accent: #835C42;
  --soft-contrast: #D6B9A8;
  --light-neutral: #F5F1EB;
  --highlight: #DDA89B;
  --deep-olive: #54503B;
  --airy-accent: #ECE8E3;
  --foreground: #f9f9f9;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
